<h2 style="color:skyblue;" align="center">Survey on Top Four Technology</h2>
<form method="post" action="/success" >


  <div style="margin-top: 100px">
    <table cellpadding="5" class="table table-striped">


      <th style="color:skyblue;">
        Questions
      </th>

      <th style="color:skyblue;">
        Options
      </th>


      <% @count = 1 %>


      <% @ques.each do |q|%>
          <tr>
            <td><%= q.question %></td>
            <input type="hidden" name="ques<%= @count  %>" value="<%= q.question %>" />
            <% questions = q.options.split(",") %>
            <% %>
            <td>

              <select name="ans<%= @count  %>">
                <% questions.each do |q|%>
                    <option value="<%= q %>">"<%= q %>"</option>
                <% end %>
              </select>

            </td>
            <% @count = @count + 1%>
          </tr>
      <% end %>
      <tr>
        <td><input type="submit" class="btn btn-info" value="Submit Answers"/></td>
        <td><input type="reset" class="btn btn-info" value="Cancel"/></td>
      </tr>


    </table>
      </div>
</form>

